@model AseinfoCalendar.Models.pls_planeacion_semanal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pls_planeacion_semanal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pls_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_hora_desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_hora_desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_hora_hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_hora_hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_usuario_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_usuario_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_cancelado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_cancelado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pls_descripcion_cancelacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pls_descripcion_cancelacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etp_etapas.etp_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etp_etapas.etp_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_plan.pln_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_plan.pln_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pls_codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
