@model IEnumerable<AseinfoCalendar.Models.pln_plan>

@{
    ViewBag.Title = "Planes";
}

<h2>Planes</h2>

<p>
    @Html.ActionLink("Nuevo Plan", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            Plan
        </th>
        <th>
            Código Visual
        </th>
        <th class="hidden-xs">
            Descripción
        </th>
        <th class="hidden-xs">
            Objetivo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pln_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pln_codigo_visual)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.pln_descripcion)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.pln_objetivo)
        </td>
        <td>
            @Html.ActionLink("Etapas", "Index", "etp_etapas") |
            @Html.ActionLink("Editar", "Edit", new { id=item.pln_codigo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.pln_codigo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.pln_codigo })
            
        </td>
    </tr>
}

</table>
